name: 'build'

on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    name: Run Build & Test

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        id: checkout_code

      - name: Setup dotnet 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - run: dotnet restore

      - run: dotnet build --no-restore

      - run: dotnet test --no-build
      
