name: 'build'

# Defining the triggers
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Workflow is made up of jobs, which run in parallel by default
jobs:
  build: # I've given this job the tag 'build'
    runs-on: ubuntu-latest # Required to tell what it runs on
    name: Run Build & Test # The name I've given

    # with the 'if' keyword, you can add conditions which must match, otherwise the job won't run. See https://docs.github.com/en/actions/reference/workflows-and-actions/expressions

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Setup dotnet 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      # One restore, so we can use it both for the build and the test
      - run: dotnet restore

      - run: dotnet build --no-restore

      - run: dotnet test --no-build
      
  dependency-check: 
    runs-on: ubuntu-latest
    name: Checking dependencies
    # We only do this when we add new code using a pull request,
    # For general information about dependency vulnerabilities GitHub already offers Dependabot.
    if: ${{ github.event_name == 'pull_request' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4


